<!-- thx https://github.com/11ty/eleventy/issues/1284#issuecomment-648749730 -->
{% set currentYear = "" %}
{% for post in showCollection %}

    <!-- New year... -->
    {% set postYear = post.date.getFullYear() %}
    {% if currentYear != postYear %}
        {% set currentYear = postYear %}
        <h1 class='archive-year'>~{{ postYear }}~</h1>
    {% endif %}

    <!-- ARTICLE LINK -->
    {% include "article.njk" %}

{% endfor %}