<!doctype html>
<html lang="en">
<head>

    <!-- Title -->
    <title>{{ title }}</title>

    <!-- UTF-8-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- On POSTS, links are external by default -->
    {% if not notAPost %}
        <base target="_blank">
    {% endif %}

    <!-- RSS (Well, Atom) -->
    <link rel="alternate" type="application/atom+xml" title="Nicky's Blog" href="https://blog.ncase.me/feed.xml">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/favicon.png">

    <!-- Social Share Nonsense -->
    {% set shareImage = share_image or 'https://blog.ncase.me/styles/assets/placeholder_thumb.png' %}
	<meta itemprop="name" content="{{ title }}">
	<meta itemprop="description" content="{{ share_desc }}">
	<meta itemprop="image" content="{{ shareImage }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@ncasenmare">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ share_desc }}">
	<meta name="twitter:creator" content="@ncasenmare">
	<meta name="twitter:image" content="{{ shareImage }}">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ shareImage }}">
	<meta property="og:description" content="{{ share_desc }}">

	<!-- STYLES -->
	<link rel="stylesheet" href="/styles/Merriweather/merriweather.css">
    <link rel="stylesheet" href="/styles/Open_Sans/opensans.css">
    <link rel="stylesheet" href="/styles/littlefoot.css"/> <!-- before page.css, so page can override it -->
	<link rel="stylesheet" href="/styles/page.css">

	<!-- SCRIPTS -->

    <!-- This website's own scripts -->
	<script src="/scripts/page.js"></script>
    {% if isFrontpage %}
        <script src="/scripts/frontpage.js"></script> <!-- only if it IS the frontpage -->
        <script>window.IS_FRONTPAGE=true;</script>
    {% endif %}
    {% if notAPost %}<script>window.NOT_A_POST=true;</script>{% endif %}
    {% if date %}<script>window.postDate = new Date("{{date}}");</script>{% endif %}
    {% if isDraft %}
        <script>window.IS_DRAFT=true;</script>
    {% endif %}

    <!-- Littlefoot: for my feetnotes -->
    <script src="/scripts/littlefoot.js" ></script>

    <!-- Nutshell: expandable explanations -->
    <script src="/scripts/nutshell-v1.0.5.js"></script>
    <script> Nutshell.setOptions({ startOnLoad: false, /* Start AFTER footnotes loaded */ }); </script>

    <!-- Orbit: make memory a choice -->
    {% if hasOrbit %}
    <script type="module" src="https://js.withorbit.com/orbit-web-component.js"></script>
    {% endif %}

    <!-- MathJAX: for nice math -->
    {% if hasMath %}
    <script src="/scripts/tex-mml-chtml.js"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script-->
    {% endif %}

    <!-- Privacy-first open-source minimalist analytics: https://www.goatcounter.com/ -->
    <script data-goatcounter="https://ncase.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>

</head>
<body>

<!-- The Sidebar UI -->
<div id="return_to_content"></div>
<div id="sidebar">
	<div id="panel_toc"></div>

    <!-- STYLE CHANGER -->
	<div id="panel_style">

        <div id="style_dark_mode_container" style="cursor:pointer;">
            <input type="checkbox" id="style_dark_mode" style="pointer-events: none;">
            Dark Mode
        </div>
        <br>

        Font size:
        <span id="style_fontsize"></span>
        <br>
        <input type="range" id="style_fontsize_slider" min="10" value="19" max="40">
        <br>

        Font type:
        <br>
        <label>
            <input type="radio" name="style_font_family" value="serif" checked>
            <span style="font-family:'Merriweather'">Serif</span>
        </label>
        <br>
        <label>
            <input type="radio" name="style_font_family" value="sans_serif">
            <span style="font-family:'Open Sans'">Sans Serif</span>
        </label>
        <br>
        <a target='_blank' href='https://github.com/ncase/blog#open-source-font--code-credits' style='font-size: 0.85em;'>
            (font credits)
        </a>
        <br><br>

        <button id="style_reset">Reset</button>

    </div>

    <!-- TRANSLATIONS -->
	<div id="panel_translations">
        <p>
            {% if translations %}
            Fan-made translations! 🎉
            {% else %}
            No fan-made translations yet!
            {% endif %}
        </p>
        {% if translations %}
            <p>
                (Warning: since these are fan-made,
                I can’t guarantee they're actually accurate.)
            </p>
            <ul style="padding-left: 1em;">
               {% for name, translation in translations %}
                  <li><a target='_self' href="{{ translation[1] }}">{{ translation[0] }}</a></li>
               {% endfor %}
            </ul>
        {% endif %}
        <p>
            If you’d like to make a translation of this post,
            check out the instructions of how to do that here.
            Thank you so much for making this thing accessible to more folks! &lt;3
        </p>
    </div>

	<div id="panel_share">share on... w/e</div>

    <!-- SHILLING FOR BIG NICKY -->
	<div id="panel_sub">
        <p>
            Wanna be the first(ish) to see my new stuff
            when it comes out? Sign up for my
            <i>very low-volume, maximum once-a-month</i>
            newsletter!
        </p>
        <form action="https://sendy.ncase.me/subscribe" method="POST" accept-charset="utf-8" target="_blank">

        	<input type="email" name="email" id="email" placeholder="[yo' email here]" required="" style="width:100%">

            <div style="display:none;">
                <label for="name">Name</label><br>
        	    <input type="text" name="name" id="name">
                <input type="checkbox" name="gdpr" id="gdpr" required="" style="cursor:pointer; width: 40px;height: 40px;" checked>
            	<label for="hp">HP</label><br>
            	<input type="text" name="hp" id="hp">
        	</div>
        	<input type="hidden" name="list" value="57rMxgfbvr08aemz763COHwg">
        	<input type="hidden" name="subform" value="yes">

        	<input type="submit" name="submit" id="submit" value="Let's go! 💌→">

        </form>
        <p>
            Alternatively, here's:
        </p>
        <ul>
            <li>my <a target='_blank' href='/feed.xml'>blog's RSS feed</a></li>
            <li>my <a target='_blank' href='https://ncase.me/feed.xml'>"big project" RSS feed</a></li>
            <!--li>my <a target='_blank' href='https://mas.to/@ncase'>rarely-updated Mastodon</a></li-->
            <!--li>my <a target='_blank' href='https://twitter.com/ncasenmare'>rarely-updated Twitter</a></li-->
        </ul>
    </div>
    <div id="panel_support">
        <p>
            If you have disposable income to dispose of,
            you can support my free, open-source work on:
        </p>
        <ul>
            <li><b><a target='_blank' href='https://ko-fi.com/nickycase'>Ko-Fi</a></b> (monthly & one-time)</li>
            <li><b><a target='_blank' href='https://www.patreon.com/ncase'>Patreon</a></b> (monthly)</li>
            <li><b><a target='_blank' href='https://www.paypal.me/nickycase'>PayPal</a></b> (one-time)</li>
        </ul>
        <p>
            (Monthly-support rewards include:
            early-access bonus content,
            voting on topics I write about,
            your name in the credits,
            a drawing of a cat, and more!)
        </p>
        <p>
            Thaaaaaaanks~ 💖
        </p>
    </div>

</div>

<!-- Reading Time Clock! -->
<div id="reading_time" {% if notAPost %} style='display:none' {% endif %} >
	<div id="clock_icon"></div>
	<div id="clock_label"></div>
</div>

<!-- EVERYTHING TO THE LEFT of the sidebar... -->
<div id="everything_container">

    <!-- A big cute header -->
    <!-- Depends if it's frontpage, or not -->
    {% if isFrontpage %}
	<div id="header" class='frontpage'>
		<div id="scrolly">
			<div id="scrolly_text"></div>
		</div>
		<div id="header_cont">
			<div id="header_title"></div>
		</div>
		<video id="typing" loop muted autoplay width="400">
			<source src="styles/assets/Typewriter.webm" type="video/webm">
		</video>
	</div>
    {% else %}
    <div id="header" class="article">
        <div id="splash_image">
            {% set splashImageSrc = banner or share_image or '/styles/assets/placeholder_banner.png' %}
            {% if 'https://blog.ncase.me' in splashImageSrc %}
                {% set splashImageSrc = splashImageSrc.slice(21) %}
            {% endif %}
            <img
                {% if not banner and share_image %} class="blur" {% endif %}
                id="splash_image_banner" src="{{ splashImageSrc }}"/>
        </div>
        <div id="header_words">
    		<div id="title">
    			{{ title }}
    		</div>
            {% if not notAPost %}
    		<div id="subtitle">

                reading time: <span id="reading_time_header"></span>
    			&nbsp;&nbsp;&middot;&nbsp;&nbsp;

                <span id="pub_date_header"></span>

                {% if tags|length > 1 %}
    			tags:
                {% for tag in tags %}
                    {% if tag != 'post' %}
                        <a class='black-link' target='_self' href="/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
    			&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                {% endif %}

                by <a class='black-link' href='https://ncase.me'>nicky case</a>

    		</div>
            {% endif %}
        </div>
	</div>
    {% endif %}

    <!-- Home button -->
    {% if not isFrontpage %}
    <a target='_self' href="/">
        <div id="home_button">
            <div id="home_icon"></div>
            <div id="home_label">home</div>
        </div>
    </a>
    {% endif %}

    <!-- The lil' tabs for sidebar UI -->
    <div id="sidebar_tabs">
        {% if not notAPost %}
		<div id="tab_toc">
			<div></div>
			table of contents
		</div>
        {% endif %}
		<div id="tab_style">
			<div></div>
			change style 😎
		</div>
        {% if not notAPost and canTranslate %}
		<div id="tab_translations">
			<div></div>
			translations
		</div>
        {% endif %}
        <!--
		<div id="tab_share">
			<div></div>
			share this!
		</div>
    -->
		<div id="tab_sub">
			<div></div>
			subscribe 💖
		</div>
        <div id="tab_support">
			<div></div>
			support me! 💕
		</div>
	</div>

    <!-- BEHOLD! CONTENT!!!!! -->
	<article id="content">

        <!-- Is Draft, Is Deprecated, Is Old -->
        {% if isDraft %}
            <div id="warning_message" style="padding: 1em 1em;">
                <b>NOTE: THIS IS A DRAFT!</b>
                Please do not share this publicly yet.
                There's a floating textbox on the &larr;<i>left</i>, for you
                to record your notes, as you read along and/or
                when you're done.
                (well, unless you're on mobile, then it's not there. record notes somehow else)
                <br><br>
                Then, copy-paste your notes, and share them with
                me via whatever platform I sent you this link!
                Thank you so muuuuuuuuch! 🎉
            </div>
<textarea id="draft_feedback">
Please type your notes below! Make notes *as you go along*, that's most helpful for me.

What's confusing, interesting, what you like or dislike? Critical honest feedback at an early stage helps me a lot! Thanks!

...
</textarea>
        {% elif isDeprecated %}
            <div id="warning_message">
                💀 <b>THIS POST HAS BEEN DEPRECATED.</b>
                This means I <i>explicitly dislike the existence of this post</i>,
                but I'm leaving it up for archival purposes.
                So hang me with this noose.
            </div>
        {% else %}
            <div id="warning_message" style="display:none">
                ⏱ <b>This post is over <span id="warning_years"></span> years old.</b>
                Proceed at own risk.
                <!--Stuff in it may be outdated, no longer represent my beliefs,
                or just be hella cringe.-->
            </div>
        {% endif %}
		{{ content | safe }}

	</article>

    <!-- FOOTER -->
	<div id="footer">
		<p>
			all my writing & art is
			<a href='https://creativecommons.org/publicdomain/zero/1.0/'>dedicated to the public domain!</a>
        </p>
        <p>
            💸
            <a href='https://www.patreon.com/ncase'>support me</a>
            making free educational shtuff
            <br>
            💖 follow me via
            <a href='https://ncase.me/sub/'>newsletter</a>
            or
            <a href='/feed.xml'>rss</a>
            (<a href='https://blog.ncase.me/back-to-the-future-with-rss/'>?</a>)
		</p>
        <p>
            this blog is open source!
            (<a href='https://github.com/ncase/blog'>github repo</a>)
            <br>
			built with:
            <br>
            <span style="color:#777">
    			<a href='https://www.11ty.dev/'>11ty</a> (static site generator)
                <br>
    			<a href='https://pages.github.com/'>github pages</a> (hosting)
                <br>
                <a href="https://www.goatcounter.com/">goatcounter</a> (privacy-first, open-source, minimalist analytics)
                <br>
                <a href="https://littlefoot.js.org/">littlefoot</a> (nicer footnotes that show on hover)
                <br>
                <a href="https://ncase.me/nutshell/">nutshell</a> (expandable, embeddable explanations)
                <br>
                <a href="https://withorbit.com/">orbit</a> (spaced repetition flashcards)
                <br>
                <a href="https://www.mathjax.org/">mathjax</a> (pretty math)
            </span>
		</p>
	</div>

</div>
</body>
</html>