---json
{
    "permalink": "feed.xml",
    "eleventyExcludeFromCollections": true,
    "metadata": {
        "title": "Nicky's Blog!",
        "subtitle": "I make occasional pictures & words",
        "language": "en",
        "url": "https://blog.ncase.me/",
        "author": {
            "name": "Nicky Case"
        }
    }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">

    {# The feed meta data #}
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
    </author>

    {# Data for each post #}
    {% for post in collections.post | latestTenPosts %}

        {# Ughhhhhhh coz 11ty puts "posts" in there... whatever, strip it out. #}
        {% set absolutePostUrl = post.url | absoluteUrl(metadata.url) | stripPostsInURL %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | dateToRfc3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        </entry>

    {% endfor %}

</feed>
