---
title: Nicky's Blog!
notAPost: true
isFrontpage: true
layout: page.njk

share_image: https://blog.ncase.me/thumb.png
share_desc: "I learn stuff, then share what I learn"
---

<p>
    <b>
        Hi, I'm <a href="https://ncase.me/">Nicky Case!</a>
    </b>
    Here are my latest five posts: <a href='/archive'>(see full archive)</a>
</p>

{% for post in collections.post | latestFivePosts %}
    {% include "article.njk" %}
{% endfor %}

<br>

<p>
And here's five of my favorite things I've written so far:
</p>

{% for post in frontpagePosts %}
    <a href="{{ post.url }}">
        <div class="article-summary">

            <!-- Thumb, or placeholder -->
            <div id="article-thumb" style="background-image:url({{ post.share_image }})"></div>

            <!-- Description -->
            <div id="article-desc">
                <span id="article-title">
                    <b>{{ post.title }}</b>
                </span>
                &middot;
                <span id="article-subtitle">
                    {{ post.share_desc }}
                </span>
            </div>

        </div>
    </a>
{% endfor %}

<!--
<hr/>

<p>
    <b>Featured tags:</b>
    <!-<a href='/tag/Featured'>Featured</a>,->
    <a href='/tag/ART'>ART</a>,
    <a href='/tag/How To'>How To</a>,
    <a href='/tag/Nicky Reads'>Nicky Reads</a>,
    <a href='/tag/Short Stories'>Short Stories</a>,
    <a href='/tag/New Project'>New Project</a>,
    <a href='/tag/This Time It Is Personal'>This Time It Is Personal</a>
</p>-->

<p>
    Thanks for reading! 💖
</p>

<iframe src="https://ncase.me/ncase-credits/signup.html" frameborder="no" width=640 height=200></iframe>